<!DOCTYPE html>
<html lang="zxx">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="csrf-token" content="{{ csrf_token() }}">

<title>{{ config('app.name', 'Laravel') }}</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/flaticon.css" rel="stylesheet" type="text/css" />
<link href="css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/animate.css" rel="stylesheet" type="text/css" />


  <link href="css/general.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!-- Style customizer -->
<!--<link rel="stylesheet" type="text/css" href="css/skins/skin-default.css" data-style="styles" />-->

</head>

<body>


<!--=================================
header -->
<header id="header" class="fancy"> 
  
  <!--=================================
 mega menu -->
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- menu start -->
          <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
              <!-- menu logo -->
              <ul class="menu-logo">
                <li><a href="index.html"><img id="logo_color_img" src="images/dark-logo.png" alt="logo" /> </a></li>
              </ul>
              <!-- menu links -->
              <ul class="menu-links">
                <!-- active class -->
                <li><a href="#"> Login </a>
                </li>
                <li><a href="#"> Register </a>
                </li>

              </ul>
            </section>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<!--=================================
 header -->








<!--=================================
 banner -->
<section id="main-slider" class="fullscreen">
  <div class="banner banner-3 bg-1 bg-overlay-red" style="background-image: url(images/bg/bg-6.jpg);">
    <div class="slider-static">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 mt-5 sm-mt-0">
            <div class="banner-form">
              <form class="form-inner">
                <div class="form-group">

                  <ul>
                    <li>
                      <label class="control-label">I'm looking for</label>
                      <select class="form-control">
                        <option>Man</option>
                        <option>Woman</option>
                      </select>
                    </li>
                    <li>
                      <label class="control-label">Aged</label>
                      <select class="form-control">
                        <option>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                      </select>
                    </li>
                    <li>
                      <label class="control-label">to</label>
                      <select class="form-control">
                        <option>Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                      </select>
                    </li>
                    <li>
                      <label class="control-label">of Religion</label>
                      <select class="form-control">
                        <option>Select</option>
                        <option>Hindu</option>
                        <option>Muslim</option>
                        <option>Christian</option>
                        <option>Sikh</option>
                        <option>Jain</option>
                        <option>Buddhist</option>
                        <option>Jewish</option>
                      </select>
                    </li>
                    <li>
                      <label class="control-label">and cast</label>
                      <select class="form-control">
                        <option>Select</option>
                        <option>Hindu</option>
                        <option>Muslim</option>
                        <option>Christian</option>
                        <option>Sikh</option>
                        <option>Jain</option>
                        <option>Buddhist</option>
                        <option>Jewish</option>
                      </select>
                    </li>
                    <li>
                      <label class="control-label">Mother tongue</label>
                      <select class="form-control">
                        <option>Select</option>
                        <option>Hindi</option>
                        <option>Bengali</option>
                        <option>Marathi</option>
                        <option>Telegu</option>
                      </select>
                    </li>
                    <li>

                        <a class="button btn-lg btn-theme full-rounded animated right-icn"><span>search <i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a>

                    </li>

                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
 banner --> 

<!--=================================
 Page Section -->

<!--=================================
They found true love -->

<section class="page-section-ptb grey-bg story-slider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="title title3 divider wow fadeInUp">They Found True Love</h2>
      </div>
    </div>
  </div>
  <div class="owl-carousel" data-nav-dots="true" data-items="4" data-md-items="4" data-sm-items="2" data-xx-items="1" data-space="30">
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/01.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Quinnel &amp; Jonet</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/02.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Adam &amp; Eve</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/03.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Bella &amp; Edward</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/04.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">DEMI &amp; HEAVEN</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/05.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">David &amp; Bathsheba</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/06.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Eros &amp; Psychi</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/07.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Hector &amp; Andromache</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/08.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Bonnie &amp; Clyde</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/09.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Henry &amp; Clare</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/10.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Casanova &amp; Francesca</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/11.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">Jack &amp; Sally</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="story-item">
        <div class="story-image clearfix"><img class="img-fluid" src="images/story/12.jpg" alt="" />
          <div class="story-link"><a href="#"><i class="glyph-icon flaticon-add"></i></a></div>
        </div>
        <div class="story-details text-center">
          <h5 class="title divider-3">James &amp; Lilly</h5>
          <div class="about-des mt-3">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--=================================
Step to find your Soul Mate -->

<section class="page-section-ptb text-center bg fixed" style="background-image:url(images/bg/bg-7.jpg)">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-8">
        <h2 class="title title2 divider text-white mb-3 wow fadeInUp animated">Find your Special Soul Mate</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 sm-mb-3">
        <div class="timeline-badge mb-2 wow slideInLeft"><img class="img-center" src="images/timeline/01.png" alt="" /></div>
        <h4 class="title mb-3 text-white text-capitalize">Sign Up</h4>

      </div>
      <div class="col-md-4 sm-mb-3">
        <div class="timeline-badge mb-2"><img class="img-center" src="images/timeline/02.png" alt="" /></div>
        <h4 class="title mb-3 text-white text-capitalize">Connect</h4>

      </div>
      <div class="col-md-4">
        <div class="timeline-badge mb-2 wow slideInRight"><img class="img-center" src="images/timeline/03.png" alt="" /></div>
        <h4 class="title mb-3 text-white text-capitalize">Interract</h4>

      </div>
    </div>
  </div>
</section>



<!--=================================
Testimonial-->

<section class="page-section-ptb pb-130 sm-pb-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="title title3 divider wow fadeInUp">Testimonials</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="owl-carousel" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1">
          <div class="item">
            <div class="testimonial left_pos">
              <div class="testimonial-avatar"> <img alt="" src="images/thumbnail/thum-1.jpg"> </div>
              <div class="testimonial-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
              <div class="author-info"> <strong>Jack Thompson - <span>Usa</span></strong> </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial left_pos">
              <div class="testimonial-avatar"> <img alt="" src="images/thumbnail/thum-2.jpg"> </div>
              <div class="testimonial-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
              <div class="author-info"> <strong>Miss Jorina Akter - <span>Iraq</span></strong> </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial left_pos">
              <div class="testimonial-avatar"> <img alt="" src="images/thumbnail/thum-3.jpg"> </div>
              <div class="testimonial-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
              <div class="author-info"> <strong>Adam Cooper - <span> New york</span></strong> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--=================================
Membership to connect -->

<div class="page-section-ptb grey-bg text-center membership">
  <div class="container">
    <div class="row justify-content-center mb-5 sm-mb-3">
      <div class="col-md-8">
        <h2 class="title title3 divider mb-3 wow fadeInUp animated">Membership To Connect With Those You Like</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 sm-mb-3">
        <div class="block">
          <div class="timeline-badge mb-2 wow slideInLeft"><img class="img-center" src="images/timeline/phone-call.png" alt="" /></div>
          <h4 class="title mb-3 text-capitalize">View Contacts</h4>
          <p>Access contact number and connect directly on call or via sms</p>
        </div>


      </div>
      <div class="col-md-4 sm-mb-3">
        <div class="block">
          <div class="timeline-badge mb-2"><img class="img-center" src="images/timeline/letter.png" alt="" /></div>
          <h4 class="title mb-3 text-capitalize">View Email</h4>
          <p>Get the email id of your selected profile and reach via email</p>
        </div>


      </div>
      <div class="col-md-4">
        <div class="block">
          <div class="timeline-badge mb-2 wow slideInRight"><img class="img-center" src="images/timeline/like.png" alt="" /></div>
          <h4 class="title mb-3 text-capitalize">Chat</h4>
          <p>Chat instantly with all other
            online users</p>
        </div>

      </div>
    </div>
  </div>
</div>

<!--=================================
 page-section -->

<section class="page-section-ptb bg fixed text-white bg-overlay-black-50" style="background-image:url(images/bg/bg-5.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="title title2 divider mb-3 wow fadeInUp">Get The Best Dating Team Now</h2>
        <h5 class="pb-20">Want to hear more story, subscribe for our newsletter</h5>
        <a class="button  btn-lg btn-theme full-rounded animated right-icn"><span>Subscribe<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a> </div>
    </div>
  </div>
</section>

<!--=================================
footer -->
<footer class="text-white text-center">
  <div class="footer-widget sm-mt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="images/dark-logo.png" class="img-fluid" alt="logo" id="footer-logo">
        </div>
        <div class="col-md-3">
          <h6>Main Menu</h6>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Premium Plans</a></li>
            <li><a href="#">Happy Stories</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>

        </div>
        <div class="col-md-3">
          <h6>Quick search</h6>
          <ul>
            <li><a href="#">All Members</a></li>
            <li><a href="#">Premium Members</a></li>
            <li><a href="#">Free Members</a></li>
          </ul>

        </div>
        <div class="col-md-3">
          <h6>useful links</h6>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <p class="text-white">© 2019  - LaganUtsav | All Right Reserved </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--=================================
footer --> 


<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

<!--=================================
 jquery --> 

<!-- jquery  --> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.appear.js"></script>
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>
<script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script>
    var wow = new WOW(
        {
            boxClass:     'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset:       100,          // distance to the element when triggering the animation (default is 0)
            mobile:       true,       // trigger animations on mobile devices (default is true)
            live:         true,       // act on asynchronously loaded content (default is true)
            callback:     function(box) {
                // the callback is fired every time an animation is started
                // the argument that is passed in is the DOM node being animated
            }
        }
    );
    wow.init();
</script>

</body>

</html>
