 /*************************
        loading
*************************/
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{display:none;}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor: url(../images/close.png) 25 25, pointer;}

/*---------------------------------------------------------------------
  Header 
---------------------------------------------------------------------*/
#header{ width:100%; z-index:99;}
#header.defualt{background: transparent; z-index: 999; padding: 0px; margin: 0px; position: relative; width: 100%; }
#header.defualt .topbar li, #header.defualt .topbar li a, #header.defualt .topbar-right li i{color: #ffffff;}
#header.defualt .topbar a:hover, #header.defualt .topbar li a:hover, #header.defualt .topbar-right li i:hover{color: #ffbc05;}

#header .topbar li{display: inline-block;}


/*topbar*/
.topbar { border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 10px 0px; }
.topbar li, .topbar li a{color: #ffffff;}
.topbar-left li i{padding-right: 5px; color:#ffbc05;}
.topbar-right .list-inline li:last-child, .topbar-right li:last-child i { padding-right: 0px; }
.topbar .topbar-right li a:hover { color: #ffbc05; }
.topbar-right li i{padding-right:5px; color:#ffbc05; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;}
.topbar-right li i:hover{color:#ffffff !important;}
#header.dark-fancy .menu-icon-right li i:hover{color:#ffffff;}

#header + .fullscreen {margin-bottom: -165px; top: -165px; position: relative;}
#header.dark + .fullscreen {margin-bottom: -140px; top: -140px;}
#header.fancy + .fullscreen {margin-bottom: 0; top: 0;}

/*mega-menu*/
.mega-menu .menu-logo { padding:19px 0 17px; } 
.mega-menu.desktopTopFixed .menu-list-items .menu-logo > li > a img {    width: 108px;
  height: auto;}
.mega-menu .menu-links > li > a { line-height:98px; text-transform: uppercase; font-size: 15px; font-weight:500;}
.mega-menu .menu-links > li > a:before, .mega-menu .menu-links > li.active > a:before{-webkit-transition: all 0.7s ease-out 0s; -moz-transition: all 0.7s ease-out 0s; -ms-transition: all 0.7s ease-out 0s; -o-transition: all 0.7s ease-out 0s;
  transition: all 0.7s ease-out 0s; color: #ffbc05; content: "\f004"; font-family: FontAwesome; font-size:14px; left: 50%;
  position: absolute; top:-30px; transform:translateX(-50%); opacity: 0;}
.mega-menu .menu-links > li > a:hover:before{opacity: 1;}
.mega-menu .drop-down-multilevel.right-menu { right: 0px; }
.mega-menu .menu-links > li:first-child{padding-left: 0px;}
.mega-menu .menu-links > li:last-child{padding-right: 0px;}
.mega-menu .drop-down-multilevel a{font-size: 13px;}
.mega-menu .menu-links > li.active .drop-down-multilevel a { color: #ffffff; }
.mega-menu .menu-links > li.active .drop-down-multilevel a:hover { color: #ffbc05; }
.mega-menu .menu-links > li.active .drop-down a { color: #fff; }
.mega-menu .menu-links > li.active .drop-down li.active a { color: #ffbc05;}
.mega-menu .menu-links > li.active .drop-down a:hover { color:#ffbc05;}
.mega-menu .menu-links > li.active .drop-down li.active a i{color:#ffbc05;}
.mega-menu .menu-links > li.active .drop-down a i:hover{color: #ffbc05;}
.mega-menu .menu-links > li.active .drop-down-multilevel li.active a{color:#ffbc05;}
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a { color: #ffffff; background:transparent; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover { color: #ffbc05; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a { color: #ffbc05;}
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li a { color: #323232; background:transparent; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a .drop-down-multilevel li a:hover { color: #ffbc05; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a { color: #ffbc05; background: #eceff7; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active i { color: #ffbc05; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active i { color: #ffbc05; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li a i { color: #323232; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active:hover .drop-down-multilevel li a:hover i { color: #ffbc05; }
.mega-menu .menu-links > li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover { color: #ffbc05; }
.mega-menu .row  { margin-left: 0px; margin-right: 0px; }
.mega-menu .col-md-12  { padding-left: 0px; padding-right: 0px; }

.mega-menu.desktopTopFixed .menu-list-items{background:rgb(2, 37, 53); padding: 0px; }
.mega-menu.desktopTopFixed .menu-logo { padding: 4px 0px; }
.mega-menu.desktopTopFixed .menu-list-items .menu-links > li > a{line-height: 75px;}
 
/*------------------------------------
 Header White
-------------------------------------*/
#header .topbar.dark{background:#353535;}

/*------------------------------------
  Header Dark
-------------------------------------*/
#header.dark{background:#000; -webkit-box-shadow:0px 0px 25px rgba(0, 0, 0, 0.1); -moz-box-shadow:0px 0px 25px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 25px rgba(0, 0, 0, 0.1); position:relative;}
#header.dark .topbar{border-bottom:0; background: #ffbc05; padding:0;}

#header.dark .topbar-left li,
#header.dark .topbar-left li a,
#header.dark .topbar-left li i,
#header.dark .topbar-right li,
#header.dark .topbar-right li a,
#header.dark .topbar-right li i{color:#ffffff;}

/*-----------------------------------
  Header Fancy
------------------------------------*/
#header.fancy{background:transparent; position:relative;}
#header.fancy .topbar{background:#ffbc05; border-bottom:none; padding:7px 0 57px;}
#header.fancy .topbar .topbar-right li a:hover{color: #323232;}
#header.fancy .topbar-left li,
#header.fancy .topbar-left li a,
#header.fancy .topbar-left li i,
#header.fancy .topbar-right li,
#header.fancy .topbar-right li a,
#header.fancy .topbar-right li i{color:#353535;}

#header.fancy .menu{position:absolute; width: 100%; top:2px; }
#header.fancy .mega-menu > section.menu-list-items{ padding:0 25px; }
#header.fancy .mega-menu .menu-links > li > a{color:#ffffff; }
#header.fancy .mega-menu .menu-links > li.active > a{color:#ffbc05;}

 #header.fancy .menu.header-dark {background: #000;  position: relative; top: 0;}
 #header.fancy .menu.header-dark .mega-menu .menu-logo > li > a img {width: 120px;}
 #header.fancy .menu.header-dark .mega-menu .menu-logo {
     padding: 8px 0 10px;
 }

.menu .top-menu{padding: 30px 0;}
.menu .top-menu li a{color: #ffbc05;}
.top-menu{float: right; margin-left: 10px; z-index: 9999 !important; position: relative; margin-top: 4px;}
.top-menu li a{ color: #ffffff;}
.top-menu li{padding: 0;}
.top-menu li a{border-right: 2px solid #fff; padding: 0 10px;}
.top-menu li:last-child a{border-right: none;}
.topbar-right > ul {display: inline-block;}
.topbar ul li a:hover, .topbar ul li a:hover i{color: #333 !important;}

.topbar-right .social-icons li{margin:5px 5px 0 0;}
.topbar-right .social-icons li.social-facebook a:hover, .topbar-right .social-icons li.social-facebook a:hover i{background: none !important;}
.topbar-right .social-icons li.social-twitter a:hover, .topbar-right .social-icons li.social-twitter a:hover i{background: none !important;}
.topbar-right .social-icons li.social-instagram a:hover, .topbar-right .social-icons li.social-instagram a:hover i{background: none !important;}
.topbar-right .social-icons li.social-dribbble a:hover, .topbar-right .social-icons li.social-dribbble a:hover i{background: none !important;}

.carousel-caption{ left: 20%; right: 20%; }

.dropdown-menu{left: inherit; right: 0;}
/*.align-items-center {left: 0; position: relative; top: 50%; transform: translateY(-50%); width: 100%;}*/

/*.banner-3 .align-items-center{top: 60%;}*/
.valign > [class*="col-"] {display: table-cell; float: none;}
[data-valign-overlay="middle"] {vertical-align: middle;}
[data-valign-overlay="bottom"] {vertical-align: bottom;}

/*--------------------------------------------------------------------
	    	Heading Style
---------------------------------------------------------------------*/
.heading-1 h1, .heading-1 h2, .heading-1 h3, .heading-1 h4, .heading-1 h5, .heading-1 h6{font-family: 'Engagement', cursive;}
.heading-2 h1, .heading-2 h2, .heading-2 h3, .heading-2 h4, .heading-2 h5, .heading-2 h6{font-family: 'Montserrat', sans-serif;}

/*--------------------------------------------------------------------
	    	inner-intro
---------------------------------------------------------------------*/
.inner-intro{height:270px; display:block; position:relative;}
.inner-intro .container{display: table; height:100%; position:relative;}
.inner-intro span{text-transform: capitalize; }
.intro-title{display: table-cell; vertical-align: middle; padding-bottom:0px; width: 100%;}
.intro-title > div{padding:0; width:100%; text-align:center;}
.intro-title .section-title{margin-bottom:10px;}
.intro-title .section-title .title{font-size:44px; font-weight:600; line-height:46px;}
ul.page-breadcrumb li span { font-size:14px; text-transform: capitalize; }
ul.page-breadcrumb {background: rgba(255, 255, 255, 0.3); border-radius: 5px; display: inline-block; padding: 0 20px;}
ul.page-breadcrumb li {color: #fff; display: inline-block; list-style: none; padding-left:0;}
ul.page-breadcrumb li i{font-size: 14px; padding: 0 7px;} 
ul.page-breadcrumb li a{color: #ffffff; font-size: 14px; text-transform: capitalize; }
.intro-title h1{display: inline-block; width: 100%; font-size: 40px; line-height: 50px;}
.intro-title h1.divider:before{bottom: -50px;}
.section-title .sub-title {left: 50%; opacity: 0.3; position: absolute; top: 35%; transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); font-weight: normal; font-size: 90px; margin: 0;}

/*---------------------------------------------------------------------
  Footer
---------------------------------------------------------------------*/
.footer{background:url(../images/pattern/pattern2.html) no-repeat 0 0; color:#c5c5c5;}
.footer .title{position: relative; color:#fff; margin-bottom:40px;}
.footer-address li {line-height:28px; padding:0; margin-top:0; margin-bottom:10px; display:block;}
.footer-widget ul li a {color: #a2a2a2;}
.footer-widget ul li a:hover {color: #ffbc05;}
.footer-address li i{float: left; color:#ffbc05; padding-right: 20px; font-size: 16px; line-height: 30px; width: 30px; }
.footer-address li span { display: table; color: #c5c5c5; font-size: 14px; vertical-align: top; }
.footer-widget { padding: 30px 0; background:#022535;}
.footer-widget p { color: #c5c5c5; margin-bottom:0; margin-top:5px;}
.footer-widget .social-icons.color-hover {display: inline-block;}
.footer-widget .social-icons li:last-child{margin-right: 0;}

/*--------------------------------------------------------------------
  Contact us
---------------------------------------------------------------------*/
.map{height:100%;}
.map iframe{height:100%;}

/* Light Form */
.light-form .form-group .form-control{background:#ffffff;}
.light-form .form-group label{color:#656565;}

/* Address */
.address-block{position:relative;}
address {margin-bottom: 0; line-height: 24px;}
footer .address-block i, .contact-3 .address-block i{font-size: 30px; color: #ffbc05; margin-bottom: 10px;}
footer .address-block a, .contact-3 .address-block a{color: #ffffff;}
.contact-3 .address-block{font-size: 16px;}
.contact-3 .address-block i{background: #ffbc05; color: #ffffff; width: 70px; height: 70px; line-height: 70px; border-radius: 50%;}
.address-block .glyph-icon{border:2px solid #ffbc05; width:60px; height:60px; text-align:center; position:absolute; left:0; top:0; display:inline-block; line-height:60px; color:#ffbc05;}
.address-block.fill .glyph-icon{background:#ffbc05; color:#323232;}
.address-block.rounded .glyph-icon{-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.address-block .title{font-size:20px; line-height:20px; margin-bottom:10px;}
.address-block span{display:block;}
.address-block a{display:block; color: #3d3d3d;}
.address-block span a {display: inline-block;}

/* Dark BG Address */
.top-info.half{bottom:-40px; margin-bottom:-30px;}
.top-info.fill{position:relative; z-index:9; background:#ffbc05; padding:40px 20px; -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.15); -moz-box-shadow:0 3px 5px rgba(0,0,0,0.15); box-shadow:0 3px 5px rgba(0,0,0,0.15);}
.top-info .address-block{width:23%; float:left; margin-bottom:0; padding-left:75px; margin-left:2%;}
.top-info.fill .address-block .glyph-icon{border-color:#353535; color:#353535;}
.top-info.fill .address-block span, .top-info.fill .address-block a{color:#353535; font-size:13px;}

/*--------------------------------------------------------------------
  Section Slider Arrow & Dots
---------------------------------------------------------------------*/
.owl-carousel.dots-rb .owl-dots{width:auto; bottom:10px; right:10px;}

/*--------------------------------------------------------------------
  About Me Pages
---------------------------------------------------------------------*/
.section-about-me ul.list li{margin:0;}

/*--------------------------------------------------------------------
  Blog Pages
---------------------------------------------------------------------*/

hr{border-style:dashed; border-color:#d5d5d5; margin:50px 0;}

/*---------------------------
  Pagination
----------------------------*/
.pagination-nav{margin-top:30px; text-align: right;}
.pagination > li{list-style-type:none; float:left;  display:block;}
.pagination > li > a, 
.pagination > li > span{ border-color:#cccccc; color:#757575; margin:0; border-radius: 50%; background: #3c3c3c; color: #ffffff; padding: 5px 10px;}
.pagination > li.previous > a, 
.pagination > li.next > a{ border:none; background: none; color: #3d3d3d;}
.pagination > li.active > a:hover, 
.pagination > li.active > a, 
.pagination > li > a:focus, 
.pagination > li > a:hover, 
.pagination > li > span:focus, 
.pagination > li > span:hover{background:#ffbc05; color:#ffffff; border-color:#ffbc05;}
.pagination > li.previous > a:focus, .pagination > li.previous > a:hover, 
.pagination > li.next > a:focus, .pagination > li.next > a:hover{background: none;}
.pagination > li.previous > a:hover,
.pagination > li.next > a:hover{color: #ffbc05;}

/*--------------------------------------------------------------------
  Terms and Conditions
--------------------------------------------------------------------*/
.terms-and-conditions .title{margin-bottom:10px;} 
.terms-and-conditions p{margin-bottom:25px;}
.terms-and-conditions ul.list{margin-bottom:20px; display:block;}
.terms-and-conditions ul.list li i{padding-right:12px; font-size:15px;}

/*--------------------------------------------------------------------
  Privacy Policy
--------------------------------------------------------------------*/ 
.privacy-policy .title{margin-bottom:10px;} 
.privacy-policy p{margin-bottom:25px;}
.privacy-policy ul.list{margin-bottom:20px; display:block;}
.privacy-policy ul.list li i{padding-right:12px; font-size:15px;}


/*--------------------------------------------------------------------
 Back to Top
--------------------------------------------------------------------*/ 
#back-to-top .top{z-index: 999; position:fixed; margin:0; background:#ffbc05;background:linear-gradient(90deg,#ff3f05,#d60101); border-radius: 50%; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; transition:all .3s ease-in-out; position:fixed; bottom:115px; right:25px; z-index: 999; font-size:24px; color: #ffffff; width:50px; height:50px; text-align:center; line-height:50px;}
#back-to-top .top:hover{color: #3d3d3d !important}

/*==================================================================================*/
/* Responsive CSS */
/*==================================================================================*/
@media screen and (max-width:1200px) {
.mega-menu .menu-logo {padding: 17px 0;}
}

@media screen and (max-width:992px) {
.row-eq-height{display:block;}
.section-title p{padding:0 50px;}
.inner-intro{height:250px;}
.intro-title .section-title{margin-bottom:0;}
.intro-title .section-title .title{font-size:34px;}
.section-title .sub-title {font-size: 70px;}

/*-------------------------------------------------
  Header 
--------------------------------------------------*/
#header.defualt { position: relative; background: #323232; }
#header .topbar{display:none;}
.mega-menu{min-height:80px;}
.mega-menu .menu-logo{padding:0;}
.mega-menu .menu-links > li{border-bottom-color:rgba(255,255,255,0.25); padding:0;}
.mega-menu .menu-links > li > a{line-height:30px; color:#ffffff !important; padding:10px 20px;}
.mega-menu .menu-links > li:last-child{border-bottom:none;}
.mega-menu .menu-links > li.active > a{color:#ffbc05 !important;}
.mega-menu .menu-links > li > a:hover:before{opacity: 0;}

/* Defualt Header */
.mega-menu .row > [class*='col-']:before, 
.mega-menu .row > [class*='col-']:after{content:""; display:table; clear:both;}

.mega-menu .menu-links{left:0; position:absolute; top:100%; width:100%;}

/* Fancy Header */
#header.fancy .menu{ position: relative; top: 0px;background: #000; }
#header.fancy .menu .container { width: 100%; }
#header.fancy .mega-menu > section.menu-list-items{padding:0 20px; padding-right:10px;}
#header.fancy + .rev-slider .slider-text{top:100px; transform:translateY(0%);}
#header.fancy .row > [class*='col-'] { padding-left: 0px; padding-right: 0px;  }

/*-------------------------------------------------
Blog Page 
--------------------------------------------------*/
.comments-1{width:100%;}
.comment-list ul{padding-left:20px;}

/*-------------------------------------------------
Contact Page 
--------------------------------------------------*/
form .half-group{margin-right:0; width:100%;}
.form-2 form .half-group{float:left; margin-left:2%;  width:48%;}

.valign > [class*="col-"] {display: block; float: none;}
.banner-3 .align-items-center {top: 50%;}
}

@media screen and (max-width:767px) {
.section-title p{padding:0;}
.inner-intro{height:200px;}
.intro-title{padding-bottom:0;}
.intro-title .section-title .title{font-size:26px; line-height:30px;}
.intro-title h1{font-size: 30px !important; line-height: 40px;}
.intro-title .section-title .sub-title {font-size: 70px !important;}
.inner-intro .container {width: 100%;}


/*-------------------------------------------------
  Header 
--------------------------------------------------*/
.mega-menu{min-height:70px;}
.mega-menu .menu-logo img{height: auto;
  width: 82px!important;}

/*-------------------------------------------------
 footer  
--------------------------------------------------*/
.footer-widget p{text-align:center;}
.footer-widget ul{text-align:center;}
.social-icons{display:inline-block;}
.footer-widget{padding:15px 0;/* margin-top:10px !important;*/}

/*-------------------------------------------------
Contact  Page 
--------------------------------------------------*/
.form-2 form .half-group{float:none; width:100%; margin-left:0;}
form.input3-col .half-group{width:100%;}
.top-info.half{bottom:0; margin-bottom:30px;}


/*-------------------------------------------------
Owl-dots
--------------------------------------------------*/
.owl-carousel .owl-dots{position:relative; bottom:0;}


.mega-menu .menu-links > li > a::before, .mega-menu .menu-links > li.active > a::before{display: none;}
.mega-menu .menu-links > li > a{border:none;}
}

@media screen and (max-width:479px) {
h2.title2{font-size:24px; line-height:30px;}
.page-breadcrumb li{margin: 0;}
ul.page-breadcrumb {padding: 0 8px;}
ul.page-breadcrumb li a, ul.page-breadcrumb li span {font-size: 13px;}
ul.page-breadcrumb li i {font-size: 13px; padding: 0 5px;}




.banner-form h4 {font-size: 13px; line-height: 18px; padding: 10px 20px;}
}


.membership .block {background: #fff; border-radius: 5px; padding: 20px; height: 214px;   transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;}
 .membership .block img {width: 60px;}
 .membership .block:hover {    box-shadow: #e2e2e2 1px 1px 6px;
   transform: translateY(-10px);
 }

.login-form {padding-top: 4%;padding-bottom: 7%;}
.login-form .form-content {
    background: rgba(206, 3, 3, 0.85);
    padding: 32px;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #1b1a1a;
    text-align: center;
}
 .login-form .form-content .lead {font-weight: normal;font-size: 13px;}
 .login-form .field-widget input::placeholder {color: #fff;}
 .login-form .title {text-align: center; padding-bottom: 20px; margin-bottom: 10px;}
 .login-form  .divider-3:before {
     background: url(../images/divider-customizer-3/divider-skin-white.png) no-repeat 0 0;
     margin-left: -48px;width: 97px;height: 3px;}
 .login-form .button {padding: 12px 40px;font-size: 15px;}
 .register-form-content .title {margin-bottom: 45px;}
 .register-form-content h5 {font-size: 14px;}
 .register-form-content .form-control {padding: 5px 10px;font-size: 13px;}
 @media (max-width: 767px) {
     .register-form-content .form-control {
         margin-top: 9px;
     }
 }
 .profile-slider .profile-image img {
     object-fit: cover;
     height: 220px;
     width: 100%;
 }
 .profile-item-hover-1 {
     margin-bottom: 20px;
 }

 .bottom-header {
     text-align: center;
     background: #03A9F4;
 }
.bottom-header ul.menu-bottom-links li{
    display: inline-block;
    padding: 14px 12px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    border-bottom: 4px solid rgba(245, 181, 0, 0);
}
 .bottom-header ul.menu-bottom-links li a {
     color: #fff;}
 .bottom-header ul.menu-bottom-links li:hover, .bottom-header ul.menu-bottom-links li.active {
     border-bottom: 4px solid #f5b500;
 }
.profile-indiv-info {
    position: relative;
    margin-bottom: 30px;
}
 .profile-indiv-info .profile-content .profile-listing ul {
     padding-top: 32px;
 }
 .profile-indiv-info .profile-content .profile-listing ul li {
     width: 50%;
     display: inline-block;
     float: left;
     margin: 2px 0;
 }
 .profile-indiv-info .profile-content .contact-list ul li{
     width: 100%;
 }
 .profile-indiv-info .profile-content .profile-listing ul li span {
    width: 170px; font-weight: 600;
    float: left;
}
 .profile-indiv-info .profile-content .profile-listing ul li span::after {
     content: ':';
     position: relative;
     right: -6px;
     top:0;
 }
 .profile-indiv-info figure {
    border: 1px solid #989090;
    padding: 5px;
}
 .profile-indiv-info .profile-content .profile-listing h5 {
     color: #1abb05;
     font-size: 16px;
     font-weight: 600;
     margin-top: 10px;
 }
 .profile-indiv-info .profile-content .profile-listing h5 span {
    float: right;
}
 .profile-indiv-info .profile-content .profile-listing h5  a {
     background: #25c311;
     padding: 5px 16px;
     color: #fff;
     border-radius: 50px;
     font-weight: 400;
     font-size: 14px;
}
 .profile-indiv-info .profile-content .profile-listing h5 a:hover {
     background: #f32d04;
 }
 .profile-indiv-info  h4 {
    margin-bottom: 30px; margin-top: 12px;
}
 .not-specified {
     color: #069eda;
 }
 .not-specified span {
     color: #464646;
 }
